name: Release

env:
  godot_version: 3.3.1
  app_name: maze-test

on:
  push:
    #tags:
    #  - v*
    branches:
      - settings-override

jobs:
  metadata:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ env.version }}
      export_name: ${{ env.app_name }}
    steps:
      #- run: echo "version=${GITHUB_REF/refs\/tags\/v/}" >> $GITHUB_ENV
      - run: echo "version=0.0-settings-test" >> $GITHUB_ENV
  exports:
    name: Export from Godot
    needs:
      - metadata
    strategy:
      matrix:
        include:
          - preset: html
            export_file: index.html
          - preset: windows
            export_file: ${{ needs.metadata.outputs.export_name }}.exe
          - preset: linux
            export_file: ${{ needs.metadata.outputs.export_name }}
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
        with:
          lfs: true
      - name: Set Project Version
        uses: ./.github/actions/godot-project-version
        with:
          version: ${{ needs.metadata.outputs.version }}
      - name: Set Env Vars
        env:
          APP_NAME: ${{ env.app_name }}
          VERSION: ${{ needs.metadata.outputs.version }}
          PRESET: ${{ matrix.preset }}
        run: |
          echo "package=${APP_NAME}-v${VERSION}-${PRESET}.zip" >> $GITHUB_ENV
      - name: Export ${{ matrix.preset }} from Godot
        uses: robpc/godot-export-action@v3.3.1
        with:
          preset: ${{ matrix.preset }}
          export_path: build/${{ matrix.preset }}/${{ matrix.export_file }}
      - name: Bundle ${{ matrix.preset }} export
        uses: montudor/action-zip@v0.1.1
        with:
          args: zip --junk-paths --recurse-paths build/${{ env.package }} build/${{ matrix.preset }}
      - name: Upload package
        uses: actions/upload-artifact@v2
        with:
          name: build
          path: build/${{ env.package }}

  exports-macos:
    name: Export from Godot
    needs:
      - metadata
    strategy:
      matrix:
        include:
          - preset: osx
    runs-on: macos-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
        with:
          lfs: true
      - name: Set Project Version
        uses: ./.github/actions/godot-project-version
        with:
          version: ${{ needs.metadata.outputs.version }}
      - name: Set Env Vars
        env:
          APP_NAME: ${{ env.app_name }}
          VERSION: ${{ needs.metadata.outputs.version }}
          PRESET: ${{ matrix.preset }}
        run: |
          echo "package=${APP_NAME}-v${VERSION}-${PRESET}.zip" >> $GITHUB_ENV
      - name: Export osx
        env:
          GODOT_VERSION: ${{ env.godot_version }}
          PRESET: ${{ matrix.preset }}
          BUILD_DIR: build
          FILENAME: ${{ env.package }}
        run: |
          wget -q https://downloads.tuxfamily.org/godotengine/${GODOT_VERSION}/Godot_v${GODOT_VERSION}-stable_osx.universal.zip
          unzip Godot_v${GODOT_VERSION}-stable_osx.universal.zip

          export XDG_DATA_HOME="$(pwd)/xdg_data_home"
          export TEMPLATES_DIR="${XDG_DATA_HOME}/godot/templates/${GODOT_VERSION}.stable/"
          mkdir -p ${TEMPLATES_DIR}
          wget -q https://downloads.tuxfamily.org/godotengine/${GODOT_VERSION}/Godot_v${GODOT_VERSION}-stable_export_templates.tpz
          unzip Godot_v${GODOT_VERSION}-stable_export_templates.tpz
          mv templates/* ${TEMPLATES_DIR}

          mkdir -p ${BUILD_DIR}
          Godot.app/Contents/MacOS/Godot --export ${PRESET} ${BUILD_DIR}/${FILENAME}
      - name: Upload package
        uses: actions/upload-artifact@v2
        with:
          name: build
          path: build/${{ env.package }}
  release:
    runs-on: ubuntu-latest
    needs:
      - metadata
      - exports
      - exports-macos
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: build
      - run: ls -la
      - uses: ncipollo/release-action@v1
        with:
          name: Release v${{ needs.metadata.outputs.version }}
          tag: ${{ needs.metadata.outputs.version }}
          draft: true # for testing
          allowUpdates: true
          artifacts: "*.zip"
          token: ${{ secrets.GITHUB_TOKEN }}